<h1>SettleList</h1>
<p>
  SettleList is a simple rails application that hopes to settle a common dispute among band members:<br />
  <em>Which songs get into the set and in what order?!</em>
</p>

<h5>A <a href="http://pixelkeg.com">pixelkeg</a> Project &copy; 2014 Glenn Gentzke</h5>